.Top-Header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem calc((100vw - 1350px) / 2);
  background: lightgrey;
}
.Left-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  /* padding-left: 60px; */
}

.logo-top {
  height: 50px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

.logo-Name {
  display: flex;
  flex-direction: column;
  height: 90px; /* Adjust the height as needed */
  width: 90px;
  justify-content: center;
}

.Right-navbar {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.Right-navbar a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: white;
  /* font-family: "Poppins", sans-serif; */
}

.mob-menu {
  display: flex;
  display: none;
}

/***************/

.big-title {
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 100%;
  padding-top: 60px;
  color: black;
  letter-spacing: -1px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.title-desc {
  font-family: "PT Serif", serif;
  font-size: 22px;
  line-height: 26px;
  max-width: 333px;
  margin: 0 auto;
  color: black;
}

/*********************/
.Services {
}
.Block-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Services-num {
  overflow: hidden;
  margin-top: 40px;

  background-color: #32db8a;
  width: 370px;
  height: 370px;
  z-index: 2;
}

.Services-num span {
  margin-left: -64px;
  /* color: #55B286; */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 100%;
  letter-spacing: -5px;
}

.service-holder img {
  display: inline-block;
  width: 60px !important;
  vertical-align: top;
  padding-bottom: 15px;
}

.service-title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding-bottom: 10px;
}

.service-holder {
  display: inline-block;
  width: 335px;
}
.section-content-holder.right {
  margin-left: 70px;
}
.section-content-holder {
  background: #fff;
  width: 800px;
  padding: 60px 0;
}
.right {
  float: right;
}
.service-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ---------------- */
.Block-content-1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.about-num {
  overflow: hidden;
  margin-top: 40px;
  background-color: palevioletred;
  width: 370px;
  height: 370px;
  z-index: 2;
  float: right;
}

.about-num span {
  margin-left: -64px;
  /* color: #55B286; */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 100%;
  letter-spacing: -5px;
}

.about-num h2 {
  font-size: 50px;
}

.About-content {
  background: white;
  width: 800px;
  padding: 60px 0;
  float: left;
}

.About-content {
  text-align: left;
  padding-right: 50px;
}
.About-content h1 {
  padding-left: 60px;
}
.About-content p {
  padding-left: 60px;
}

/* -------- */

.Block-content-2 {
  display: flex;
  flex-direction: row;
}
.portfolio-num {
  overflow: hidden;
  margin-top: 40px;
  background-color: orange;
  width: 370px;
  height: 370px;
  z-index: 2;
  float: left;
}

.portfolio-num span {
  margin-left: -64px;
  /* color: #55B286; */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 100%;
  letter-spacing: -5px;
}

.portfolio-num h2 {
  font-size: 50px;
}
.portfolio-text-holder {
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  font-size: 20px;
  background-color: white;
  text-align: center;
  display: none;
}
.portfolio-text-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-type {
  line-height: 100%;
  font-size: 11px;
  color: #9a9a9a;
  padding-bottom: 20px;
}
.grid-item.p_one_half {
  width: 400px;
}

.Project1 {
  width: 200px; /* Replace with desired width */
  height: 150px; /* Replace with desired height */
}

/*  */
.Block-content-3 {
  display: flex;
  flex-direction: row-reverse;
}
.video-num {
  overflow: hidden;
  margin-top: 40px;
  background-color: palevioletred;
  width: 370px;
  height: 370px;
  z-index: 2;
  float: right;
}

/* **************** */
.Block-content-4 {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
}
.Contact-num {
  overflow: hidden;
  margin-top: 40px;
  background-color: lightgreen;
  width: 370px;
  height: 370px;
  z-index: 2;
  float: right;
}

.contact-content-holder {
  background: white;
  width: 800px;
  padding: 60px 0;
  float: right;
}

.contact-content-holder.right {
  margin-left: 370px;
}

.contact-content-holder .content-wrapper {
  padding: 0 60px;
}
.contact-content-wrapper {
}

.one_half {
  width: 290px;
  margin-right: 100px;
  float: left;
  position: relative;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 100%;
  width: 770px;
  margin: 0 auto;
  font-size: 22px;
  color: #9a9a9a;
}

.contact-form input[name="your-name"] {
  margin-top: 0;
  padding-top: 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  color: #23214c;
  border: 0;
  border-bottom: 1px solid #1c1c0b;
  height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  width: 100%;
  line-height: 25px;
  padding: 0;
}

.contact-form input[type="submit"] {
  color: #e54b76;
  display: inline-block;
  border: 2px solid #e54b76;
  text-align: center;
  padding: 12px 0px;
  cursor: pointer;
  margin-top: 30px;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.2s linear;
}
